* {
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 247, 244);
    background-image: url(./image/nature.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden
}

main {
    width: 70%;
    /* margin-left: 100px; */
}
main>h1 {
    color: aliceblue;
    font-size: 32px;
}
main>h2 {
    color: aliceblue;
    font-size: 20px;
}

fieldset {
    width: 100%;
    min-height: 400px;
    border-radius: ipx solid black;
    color: aliceblue;
}

label {
    color: white;
}

input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 6px;
}

.btn {
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    color: black;
}








